@font-face {
    font-family: lightitalic;
    src: url(../assets/gilroy/Gilroy-LightItalic.ttf);}
@font-face{
   font-family: gilgory;
    src: url(../assets/gilroy/Gilroy-Medium.ttf);
}
body {
  padding: 10px 10px 10px 10px;
  width: auto;
  display:flex ;
  justify-content: center;
  flex-direction: column;
  font-family: gilgory;
  padding: 80px 350px;
  flex-wrap: wrap;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1348px;
  height: 51px;
  border-radius: 14px;
  background-color: #fadcd9;
  padding: 24px;
  margin-bottom: 30px;
}
.navbar__header {
  display: flex;
  gap: 30px;
  font-size: 16px;
  font-weight: 300;
  font-family: gilgory;
}
h1 {
  font-size: 24px;
  font-family:  lightitalic;
  font-weight: 400;
  font-style: italic;
 
}
.word__italic{
  font-family:  lightitalic;
}
.first_section {
  display: flex;
  justify-content: space-between;

  background-color: #ffffff;
  width: 1340px;

  border-radius: 14px;
}
.div__left{
  
  display: grid;
  width:330px;
  grid-template-columns: 565px 630px ;
  grid-template-rows: 479px 476px ;

  gap: 10px;
  background-color: #ffffff;
  border-radius: 14px;
}


.article__first{
   border-radius: 14px;
   background-color: #fadcd9;
  
}
.div__img{
  display: flex-row;
  justify-content:end ;
  align-items: flex-end

}
.iconofirst__img{
  display: flex;
  flex-direction: flex-end;
  padding: 34px 24px;
}
.h2__article{
  font-family: gilgory;
  font-size: 46px;
  font-weight: 400;
  padding: 24px;
  width: 700px;
  font-style: bold;
}

.div__down{
  display: grid;
  grid-template-columns: 448px 448px ;
  grid-template-rows: 335px 335px ;
  gap: 10px;
  
}

.div__down--left{
 
   border-radius: 14px;
  padding-bottom: 15px;
   
   background-color: #fadcd9;
}
.div__down--right{
   background-color: #F8AFA6;
   border-radius: 14px;
  padding-bottom: 15px;


}
.circle_icon{
  padding: 32px 24px;
}
.paragraph{
  font-family: gilgory;
  font-size: 16px;
  font-weight: 300;
  padding: 24px;
  padding-bottom: 0px;

}
.div__down--right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.article__second{
  display: flex;
  justify-content: space-between;
  padding: 24px;
}
.h3__card{
  font-family: gilgory;
  font-size: 55px;
  font-weight: 650;
  padding: 24px;
  padding-bottom: 0px;
}
.div__right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 405px;
  height: 821px;
  background-color: #FFFFFF;

  border-radius: 14px;
  


}
.div__right--up{
  width: 412px;
  height: 800px;
  background-color:  #fadcd9;
  border-radius: 14px;
  padding: 28px;
  margin-bottom:15px;
  
}

.div__right--down{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 420px;
  height: 77PX;
  background-color: #fadcd9;
  border-radius: 14px;
  padding: 24px;
} 
.navbar__footer{
  display: flex;
  gap : 30px;
  font-size: 15px;
  font-weight: 300;
  font-family: gilgory;
}
.article__third{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.paragraph__second{
  font-family: gilgory;
  font-size: 25px;
  font-weight: 500;
}
.line{
  margin-top: 30px;
  margin-bottom: 38px;
  width: 400px;
  height:0px;
  border: 2px solid var(--Secondary, #F8AFA6)

}
/* ------------------------------
   TABLET (pantallas medianas)
/* ------------------------------
   TABLET (pantallas medianas)
   ------------------------------ */
@media (max-width: 1024px) {

  body {
    padding: 40px 60px;
  }

  header {
    width: 100%;
  }

  .first_section {
    width: 100%;
    flex-direction: column;
  }

  .div__left {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    width: 100%;
  }

  .div__right {
    width: 100%;
    height: auto;
    flex-direction: row;
  }

  .div__right--up {
    width: 100%;
    height: 400px;
  }

  .div__right--down {
    width: 100%;
  }
}

/* ------------------------------
   CELULAR (pantallas pequeñas)
   ------------------------------ */
@media (max-width: 768px) {

  body {
    padding: 20px;
  }

  header {
    flex-direction: column;
    height: auto;
    gap: 16px;
    width: 100%;
  }

  .navbar__header {
    gap: 10px;
    font-size: 14px;
  }

  .first_section {
    flex-direction: column;
    width: 100%;
  }

  .div__left {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    width: 100%;
  }

  .h2__article {
    font-size: 32px;
    width: 100%;
  }

  .div__down {
    grid-template-columns: 1fr;
  }

  .div__right {
    width: 100%;
    height: auto;
  }

  .div__right--up {
    width: 100%;
    height: 300px;
  }

  .div__right--down {
    width: 100%;
    height: auto;
    padding: 16px;
  }

  .navbar__footer {
    gap: 16px;
    font-size: 13px;
  }
}

/* ------------------------------
   CELULAR MUY PEQUEÑO
   ------------------------------ */
@media (max-width: 480px) {

  body {
    padding: 10px;
  }

  h1 {
    font-size: 18px;
  }

  .h2__article {
    font-size: 26px;
  }

  .paragraph {
    font-size: 14px;
  }

  .div__right--up {
    height: 250px;
  }

  .div__right--down {
    flex-direction: column;
  