h1{
    color: burlywood;
}
h2{
    color: peru;
}
.contenedor_principal{

    background-color: beige;

}
#subtitle{
    font-size: 20px;
    text-align: center;
}
.section-hero {
  background-image: url("../assets/scarface.jpg");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 1rem 2rem;
}
body{
    background-color: wheat;
}  